.bg-mesh {
    background-color: #191022;
    background-image:
        radial-gradient(at 0% 0%, rgba(127, 19, 236, 0.25) 0px, transparent 50%),
        radial-gradient(at 100% 0%, rgba(59, 130, 246, 0.15) 0px, transparent 50%),
        radial-gradient(at 100% 100%, rgba(127, 19, 236, 0.1) 0px, transparent 50%);
}

.floating-card {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.shadow-glow {
    box-shadow: 0 0 40px -10px rgba(127, 19, 236, 0.5);
}

.shadow-card {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}